<!DOCTYPE html>
<html lang="en" {% block htmlAttrs %}{% endblock %}>
  <head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona app - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Ubuntu+Mono&display=swap" rel="stylesheet">
    {% block cssBlock %}
    {% endblock %}

    {% if dev %}
    <script src="/browser-sync/browser-sync-client.js?v=2.26.7" async></script>
    {% endif %}

  </head>
  <body {% block bodyAttrs %}{% endblock %}>
    {% block content %}{% endblock %}

    {% block jsBlock %}
    {% endblock %}
  </body>
</html>
