.Main {
  padding: 1.5rem;

  > h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .selector {
    font-size: 14px;
    margin-bottom: 2rem;

    :global(.item-renderer) {
      input[type='checkbox'] {
        margin-right: .5rem;
        margin-left: .5rem;
      }
    }
  }

  &.medium {
    padding: 2rem 2.5rem;

    > h1 {
      font-size: 32px;
    }
  }
}

.label {
  font-size: 14px;
  font-weight: bold;
}

.footer {
  padding: 2rem;
  text-align: center;

  p {
    font-size: 12px;
  }
}

.notes {
  padding: .5rem 1rem;
  font-size: 13px;
  background: #eee;
}

.title {
  font-weight: bold;
  font-size: 14px;
}